<div id="banner">
    <div class="container-fluid">
      <div class="row header">
        <img src="/background2.jpg.png" class="img-responsive">
        <!-- <h1>Bike Accessories</h1> -->
        </div>
      </div>
    </div>
  </div>

<div class="index">
  <h1>Fittery Mini Project</h1>
  <%= link_to "Click To See Images", images_path %>
</div>