/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";



.container-fluid {
  width: 100%;
}

.container {
  width: 100%;
}

.index {
  text-align: center;
  margin-top: 55px;
  margin-bottom: 55px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

#sidebar {
  border: 1px solid #efefef;
  min-height: 100px;
  padding: 30px;
  margin-left: 100px;
  margin-right: 20px;
  background-color: #f5f5f5;
}

.panel-body li {
  list-style-type: none;
}

.navbar {
  position: absolute;
  z-index: 1500;
  width: 100%;
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-top: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  height: 62px;
  background-color: rgba(0,0,0,0.6);
}

.nav.navbar-nav.navbar-right li a {
  color: #fff;
}

.nav.navbar-nav.navbar-right {
  margin-right: 80px;
}

a:hover {
  text-decoration: none;
  color: #5a5b63;
}

.navbar-nav li {
  padding-right: 10px 15px;
  padding-top: 6px;
  margin: 0;
}

#banner { 
  margin-bottom: 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 300px;
  max-width: 100%;
}

.navbar-logo {
  margin-top: 4px;
  font-family: Lora;
  font-size: 37px;
  margin-left: 100px;
  color: #fff;
  display: inline-block;
}

.row.header h1 {
  margin-top: -15%;
  text-align: center;
  font-family: Lora;
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.sidebar_list li {
  list-style-type: none;
}

.divider {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  margin-top: 145px;
}

.divider p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

.product-show {
  margin: 0 auto;
  max-width: 1050px;
}

.product-image {
  margin-bottom: 15%;
  margin-top: 5%;
}

.product-info {
  border: 1px solid #e1e1e1;
  margin-bottom: 50%;
  margin-top: 20%;
}

.product-info p {
  padding-left: 10px;
}

.page-info {
  margin-bottom: 30px;
  max-width: 100%;
  padding-bottom: 50px;
}

.page-info h3 {
  margin-left: 80px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding-top: 40px;
}

.page-info p {
  font-size: 15px;
  float: right;
  margin-right: 150px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
  padding-top: 40px;
}

.portfolio-item {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
  padding: 5px;
}

.img-responsive {
  margin-right: auto;
  margin-left: auto;
}

.description {
  border-top: 1px solid #efefef;
}

.image-show {
  margin-bottom: 17px;
}

#footer {
  margin-top: 10px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 300px;
  max-width: 100%;
  background-color: #363636;
  padding-bottom: 30px;
}

h5 {
  color: #fff;
  font-family: Lora;
  font-size: 36px;
  padding-top: 20px;
  margin-left: 100px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}

.footer_column li {
  color: #fff;
  padding-top: 40px;
  font-family: Lora;
  margin-bottom: -30px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
.footer_column p {
  color: #fff;
  padding-top: 40px;
  font-family: Lora;
  margin-bottom: -20px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
}
