
<div id="sidebar" class="col-xs-6 col-md-2" >
  <ul class="sidebar_list">
    <li><a href="http://www.fujibikes.com/">Fuji</a></li>
    <li><a href="http://www.statebicycle.com/">State Bicyle</a></li>
    <li><a href="http://unknownbikes.bigcartel.com/">Unknown</a></li>
    <li><a href="http://leaderbikes.com/">Leader</a></li>
    <li><a href="http://www.masibikes.com/">Masi</a></li>
    <li><a href="http://www.masibikes.com/">Specialized</a></li>
  </ul>
</div> 
<div id="main-content" class="col-xs-12 col-md-8">
  <%= render "images" %>
</div>


