<div id="page-info">
    <div class="container">
      <div class="col-xs-12 col-md-12">
        <div class="page-info">
        </div>
        <div class="index">
          <h1>Fittery Mini Project</h1>
          <%= link_to "Click To See Images", images_path %>
        </div>
        <div class="image-show">
          <%= render "image" %>
        </div>
      </div>
    </div>
</div>