<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <title>FitteryMiniProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="header">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation"> 
      <div class="container"> 
        <div class="navbar-header"> 
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
            <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-logo" href="/">b i k e r y</a>
        </div>
        <div class="navbar-collapse collapse"> 
          <ul class="nav navbar-nav navbar-right"> 
            <li><a href="http://www.citygrounds.com/fixed-gear-single-speed-bikes">Bikes</a></li>
            <li><a href="http://www.citygrounds.com/cycling-accessories">Bike Accessories</a></li>
            <li><a href="http://www.dicklanevelodrome.com/">Velodrome</a></li>
            <li><a href="http://alanmatthews.net/">Blog</a></li>
            <li class="dropdown">
            </li>
          <ul class="dropdown-menu">
          </ul>
          </ul>
      </div>
    </div>
   </div>
  </div>
    
  <%= yield %>
  
  <div id="footer">
    <div class="container">
        <div class="row">
          <div class="footer_column col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a href="/"><h5>b i k e r y</h5></a>
          </div>
          <div class="footer_column col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <p>Info</p>
            <ul>
              <a href="#"><li>FAQ</li></a>
              <a href="#"><li>Privacy Policy</li></a>
              <a href="#"><li>For Retailers</li></a>
              <a href="#"><li>Contact Us</li></a>
              <a href="#"><li>Terms Of Service</li></a>
            </ul>
          </div>
          <div class="footer_column col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <p>Brands</p>
            <ul>
              <a href="http://www.statebicycle.com/"><li>State</li></a>
              <a href="http://leaderbikes.com/"><li>Leader</li></a>
              <a href="http://www.masibikes.com/"><li>Masi</li></a>
              <a href="http://www.fujibikes.com/"><li>Fuji</li></a>
              <a href="http://www.specialized.com/us/en/home/"><li>Specialized</li></a>
            </ul>
          </div>
          <div class="footer_column col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <p>About bikery</p>
            <ul>
              <a href="#"><li>About Us</li></a>
              <a href="#"><li>How bikery Works</li></a>
              <a href="#"><li>Lorem Ipsum</li></a>
              <a href="#"><li>Lorem Ipsum</li></a>
              <a href="#"><li>Lorem Ipsum</li></a>
            </ul>
          </div>
        </div>
    </div>
  </div>
</body>
</html>

